/************************* COMMON STYLES FOR ALL ***************************/
/*
    1.
    Double or triple classes are used to get score 20/30 for selector specifity.
    Very specific selectors to fight with: usps.com: '#nav-tool-login .unreg ul' and '#nav-tool-login ul'.

    2. TODO: We should not use # selectors since we may have multiple icons, but ID should be unique.
    This can be solved only with shadow DOM

    3. TODO:
    :root {
      --someVar: #000000;
    }

    4. TODO:
    z-index: 2147483647; -1 to avoid conflict with FBB. There is a problem with https://www.ipower.com/secure/login.bml#webmail (they reset it to 1)
*/
:host {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2147483647;
}

/*.dpmaxz_fake { display: none; } /*TODO: 1st rule somehow is not ignored by browser*/
.hide {
  display: none;
}

*, *:after, *:before {
  /* all: unset; */
  color: unset;
  background-color: unset;
  font: unset;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  /*for Adobe ID login page*/
  width: auto;
  overflow: visible;
  /* for login.iis.net */
  box-sizing: border-box;
  width: auto;
  /*
    /* The following is basic reset, nothing else: * /
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    */
}

/***************************** FEEDBACK MENU *******************************/
/* Root for shared UI under <BODY> */
#dpmaxz_fbm_gui {
  position: static;
  /* No position at all, i.e. static. This is critical. */
  -moz-user-select: none;
       user-select: none;
  cursor: default;
  margin: 0;
  padding: 0;
  overflow: visible;
  /* for login.iis.net */
}

.menus {
  position: absolute;
  z-index: 2147483647;
  transition: left 267ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, top 267ms cubic-bezier(0.4, 0, 0.2, 1), opacity 267ms cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  padding: 6px 0;
  list-style: none;
  white-space: nowrap;
  border: 1px solid #a0a0a0;
  color: black;
  background-image: linear-gradient(to bottom, #fafcff 0%, #f0f6ff 70%, #fafcff 100%);
  /* http://colorzilla.com/gradient-editor/#f0f5ff+0,ffffff+100 */
  box-shadow: 2px 2px 5px -2px #605f7080;
  font: normal 14px / 18px 'Segoe UI',Verdana,Arial;
  /*This one is used by MS*/
  /*font: normal 1em "Trebuchet MS",Arial,Helvetica,sans-serif;*/
  /*http://www.cult-f.net/ */
  cursor: default;
}

ul li {
  text-decoration: none;
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
  overflow: visible;
  /* for login.iis.net */
}

ul li:hover {
  color: white;
  background-color: #495057;
}

.row-txt {
  display: inline-block;
  padding: .2em 1em;
  font: normal 14px / 18px 'Segoe UI',Verdana,Arial;
  /*This one is used by MS*/
  /*font: normal 1em "Trebuchet MS",Arial,Helvetica,sans-serif;*/
  /*http://www.cult-f.net/ */
}

/******************************* MISC **************************************/
/*
.dpmaxz_highlight {
  @include highlighter();
}
*/
/***************************************************************************/
/* <style id="svg-animations-anim">*/
@keyframes maxz-menu-zoomindown-anim {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -10px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 20px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes maxz-menu-zoomout-anim {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}

.menu-in {
  animation: 267ms maxz-menu-zoomindown-anim;
}

.menu-out {
  animation: 267ms forwards maxz-menu-zoomout-anim;
}
/*# sourceMappingURL=dp-fbm.css.map */