:root {
    accent-color: red;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

*, :before, :after {
    padding: 0;
    margin: 0;
}

.test-title {
    padding: 1rem 0.5rem 0.5rem;

    font-size: 0.9rem;
    /* font-weight: 700; */
    font-stretch: condensed;

    color: rgb(120, 120, 120);
    /* color: rgb(255, 83, 20); */
    /* color: coral; */
    /* background-color: #002e52; */
    background-color: #d9d9d9;
}

/* 
    /* background-color: hsla(46, 100%, 50%, 0.541); * /
    background-color: #efefef;
    color: #3a1e87;
*/
